.profile {
  padding-top: 32px;
  width: 528px;
  font-size: 26px;
  font-weight: bold;
  background-color: #fafafa;
  border-radius: 30px;
  border: 5px solid #212121;
}
.description {
  color: #808080;
  text-align: center;
}
.avatar {
  width: 38%;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #2a2a2a;
  margin-bottom: 16px;
}
.name {
  color: #000;
}
.tag {
}
.location {
}

.stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.stats {
  border-top: 3px solid #808080;
}
.stats li {
  flex-grow: 1;
}
.stats li:not(:last-child) {
  border-right: 3px solid #808080;
}
.label {
  display: block;
}
.value {
}
